@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$main-fonts: Lato, sans-serif;
$red-color:rgb(170, 14, 45);
$black-color: rgb(0, 0, 0);
$headings-color: rgb(0, 0, 0);
$mobile-responsive : 640px;

html {
  font-family: $main-fonts;
  font-size: 30px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
  color: white;
}

p {
  font-size: 16px;
}

a, a:visited, a:hover {
	text-decoration: none;
	position: relative;
	color: white;
	
	&:after {
		content: '';
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: white;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
}

.page-list {
  max-width: 90%;
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.title-list {
  height: 65px;
}

.cardGame a h2 {
  margin-bottom: 3px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #292929;
}

.sort {
  padding: 10px;
  margin-bottom: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}

.image{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 9%;
  display: flex;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #3c6275c3;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}

.cardGame:hover .overlay{
bottom: 50%;
height: 50%;
}

#search {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 30px;
  width: 90%;
  background-color: white;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 25px;
  justify-content: flex-start;
  background-color: #292929;
}

.cardGame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-bottom: 25px;
  cursor: pointer;
}



#pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#showmore {
  color: #fff;
  cursor: pointer;
  background-color: $red-color;
  margin-bottom: 25px;
}

// PAGE DETAIL

.article {
  display: flex;
  flex-direction: column;
}

.article img {
  width: 100%;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-header p {
    padding: 0.4rem;
    margin: 0 0.4rem;
    border-radius: 3px;
    font-weight: 600;
    color: red;
}

.game-informations {
  display: flex;
  flex-wrap: wrap;
}

.game-informations > p {
  flex: 1 0 21%;
  color: #fff;
  padding-left: 1rem;
  font-weight: 800;
  color: red;
}

@mixin mobile{
 @media (max-width: $mobile-responsive){
  @content;
 }
}

.articles {
  color: rgb(160, 159, 187);
  padding-bottom: 1rem;
}

@include mobile {
    #search {
      width: 70%;
    }
  }

.rating{
  padding: 1rem 0;
  color: red;
}


.ratingcount{
  color: red;
}

.body::-webkit-scrollbar-thumb{
  background-color: green;
  outline: none;
  border-radius: 10px;
}

.title {
  font-size: 4rem;
  color: #fff;
  padding-left: 1rem;
}

.subtitle {
  padding-left: 1rem;
  color: #fff;
}

.subtitle h3{
  font-weight: 800;
  color: red;
}

.date-release {
  color:#fff;
  font-weight: 500;
}

#website {
  max-width: 8rem;
  padding-left: 1rem;
  border-radius: 4rem;

  &:after {
		content: '';
		height: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		background: red;
		transition: 0.2s;
	}

	&:hover:after {
		width: 100%;
	}
}
